.card-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  
}

.card {
  width: 181px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: beige;
}

.card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #131921;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
