.detail{
   margin: 10px;
   padding: 5px;
   display: flex;
   gap:10px;
}

.add-cart-btn {
    border-radius: 5px;
   text-decoration: none;
   border: 2px solid black;
   background-color: brown;
   color: white;
}

.add-cart-btn:hover {
  background-color: darkorange;
}

.det-btn{
    border-radius: 5px;
    text-decoration: none;
   border: 2px solid black;
   background-color: brown;
   color: white;
}

.det-btn:hover {
  background-color: darkorange;
}