.search-btn{
    width: 500px;
    height: 45px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
}

.search-btn::placeholder{
    font-size: large;
    position: relative;
    left: 10px;
}

.navbar input {
  padding: 6px;
  width: 500px;
}

.input-search{
    width: 500px;
}

input[type="text"]{
    width:400px;
    border: 2px solid black;
    border-radius:5px

}

input::placeholder{
    color: black;
    font-size: large;
    padding-left: 10px
}

input:focus {
  outline: none;
  box-shadow: none;
}

input:hover{
    border: 2px white solid;
    box-shadow: 0 0 15px 5px rgba(248, 249, 250, 0.7);
 
}
.nav-links{
        margin-top: 15px;
        margin-right: 15px;

}


.navbar a {
    border:2px solid white;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    font-size: 20px;
    margin-top:30;
}


.navbar a:hover{
    background-color: rgb(253, 253, 253);
    border: 2px solid black;
    color: black;
    
}

select{
    font-size: large;
}

label{
    font-size: large;
    margin: 10px;
}



