.main-body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-container{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 2px solid black;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
}